* {
    z-index: 0;
    font-family: Poppins;
    box-sizing: border-box;
}
:focus {
    outline: none;
}
*::selection {
    color: black;
    background-color: wheat;
}
body {
    background-color: black;
}
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* HEADER */
.navbarMobile {
    display: none;
}
.navbar {
    z-index: 1;
    padding: 0 40px;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    font-size: 30px;
    color: wheat;
    background-color: #da7b9300;
    backdrop-filter: blur(5px);
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0));
}
#title {
    font-size: 50px;
    font-weight: 200;
}
.navbarItems {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarItems a{
    padding: 0 20px;
    height: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.navbarItems a:hover {
    background: rgb(0, 255, 255);
    color: black;
}
.hamburgMenu {
    display: none;
}


/* MAIN */
/* about me */
.aboutmeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    background: linear-gradient(rgba(0,0,0),rgba(10,10,10),rgba(10,10,10),rgba(10,10,10),rgba(0,0,0));
}
.aboutMe {
    height: fit-content;
    width: 95%;
    margin: 110px 0 12px 0;
    padding: 40px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 0.4s ease-in-out;
}
#myImg {
    height: 100%;
    border: 3px solid rgba(255, 255, 255, 0.459);
}
.aboutmeTxt {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
#myRole {
    font-size: 3vw;
    font-weight: 300;
    line-height: 70px;
    background-image: linear-gradient(45deg, wheat, cyan);
    background-clip: text;
    color: transparent;
}
#myRole b {
    font-weight: 600;
    font-size: 4vw;
}
#myDesc {
    font-size: 22px;
    font-weight: 200;
    color: white;
}
#downloadBtn {
    padding: 10px 20px;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid cyan;
    color: cyan;
    background-color: rgba(0,0,0,0);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#downloadBtn:hover {
    background-color: cyan;
    color: black;
}

/* my skills */
.mySkills {
    margin: 50px 0 70px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.skills {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.skill {
    margin: 6px 8px;
    padding: 8px 20px;
    width: fit-content;
    font-size: 24px;
    border-radius: 12px;
    color: black;
    background-color: cyan;
}

/* my education */
.myEducation {
    margin: 50px 0;
    padding: 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: grey; */
    background: linear-gradient(to right, wheat, #00000000, #00000000, #00000000, #00000000, #00000000, #00000000, #00000000, #00000000,  wheat);
    box-sizing: border-box;
}
.eduWrapper {
    margin-top: 20px;
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.eduProgress {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: wheat;
}
.line {
    height: 200px;
    width: 3px;
    background-color: wheat;
}
.eduInfo {
    margin-left: 30px;
}
.point {
    font-size: 20px;
    font-weight: 200;
}
.point.one, .point.two {
    margin-bottom: 100px;
}
.eduInfo b {
    font-size: 30px;
    font-weight: 400;
}
.fa-calendar-days {
    margin-right: 10px;
}

/* my works */
.myWorks {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: black; */
}
.myworksTitle {
    width: 100%;
}
.title {
    margin-top: 20px;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    color: black;
    background-image: linear-gradient(to right, cyan, wheat);
    background-clip: text;
    color: transparent;
    /* background: linear-gradient(to right, #00000000, #00c8c8, wheat, #00000000); */
}
.works {
    margin: 15px;
    padding: 10px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #1f1f1f00;
    transition: all 0.2s ease-in-out;
}
.works:hover {
    /* width: 98%; */
    border-radius: 20px;
    color: black;
    font-weight: 500;
    background: linear-gradient(30deg, cyan, wheat, wheat);
    background-color: wheat;
}
.workImg {
    width: 95%;
    border-radius: 20px;
} 
.workTxt {
    margin-top: 15px;
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    background-image: linear-gradient(to right, #00c8c8, wheat);
    background-clip: text;
    color: transparent;
}
.works:hover > .workTxt {
    background: none;
    color: black;
}



/* FOOTER */
.footer {
    margin-top: 100px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
    background-color: rgb(15, 15, 15);
}





/* ANIMATION */
.hidden {
    transform: translateX(-500px);
    opacity: 0;
    transition: all 0.1s ease-in-out;
}
.show {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
